/* root */

/* Heebo */
/* color: #00363a; - font-color */
/* second color #e0f7fa */

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: #00363a;
}

a:hover {
  text-decoration: underline;
  color: aliceblue;
}

.container {
  width: 70vw;
  left: 0;
  right: 0;
  margin: auto;
}

/* header-section */
.header-container {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, rgb(152, 207, 195) 9%, rgb(86, 181, 184));
  padding-left: 30px;
}

.photo {
  border: 1px solid grey;
  border-radius: 50%;
  box-shadow: 5px 5px 15px grey;
  margin: 5px;
}

.name {
  font-family: "Heebo";
  font-size: 40px;
  color: #00363a;
}

.profession {
  font-family: "Heebo";
  font-size: 20px;
  color: #00363a;
}
.name-pos {
  margin: auto;
  border: 0.5px solid;
  border: none;
  padding: 5px;
  border-left: 1px solid white;
}

.contacts-item {
  font-style: none;
}

.contacts-item:not(:last-child) {
  margin-bottom: 5px;
}

.contacts-item {
  color: black;
  font-family: "Heebo";
  color: #00363a;
}
/* Main-section */

.main-title,
.about-me {
  font-family: "Heebo";
  color: #00363a;
}

.main-container {
  margin-top: 25px;
}

.my-projects {
  background-color: #e0f7fa;
}
